<article class="c-article p-list-article">
  <header>
    <h2 class="c-title c-article__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p class="c-article__meta">
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
        {{ .Date.Format "Jan 2, 2006" }}
      </time>
    </p>
  </header>
  <div class="c-article__summary">
    {{ .Summary | plainify | safeHTML }}
  </div>
  {{ if .Truncated }}
  <a href="{{ .Permalink }}" class="c-article__btn p-list-article__btn">Read more</a>
  {{ end }}
</article>
